{% extends 'base.html' %} {% block content %}
<style>
  body {
     background-image: url("../static/images/bg6.jpg");
     height: 100%;
   
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 
  }
 </style>
<main>
<form action="{% url 'login' %}" method="POST" novalidate>
    {% csrf_token %}
       {{form}}
       <br>
           <input type="submit" value="Login" class="btn btn-block btn-primary">
         </div>
  </form>
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p style="color: red; text-align: center;">{{ error }}</p>
{% endfor %}
{% endif %}
</main>
  {% endblock %} 