{% extends 'base.html' %} {% block content %}
<style>
    body {
       background-image: url("../static/images/bg6.jpg");
       height: 100%;
     
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   
    }
   </style>

<div style="display: flex; justify-content: center;">
    <img class="fw-light" src="../static/images/logo3.png" style="width: 170px; padding-top: 0%; ">
</div>
   <h1 style="text-align: center; font-family: 'Abril Fatface', cursive; padding-top: 0%; font-size: 80px;">Register</h1>
   <h5  style="text-align: center; text-decoration: bold;font-size: 30px; font-family: 'Abril Fatface' ">Choose a User Type below</h5>
<div >
    <a style="text-decoration:  underline; font-size: 30px; font-family: 'Abril Fatface'; padding-top: 20px;  " type="button" class="btn btn-block" href="{% url 'teacher_signup' %}">I am a Teacher</a>
</div>
<div >
    <a style="text-decoration: underline; font-size: 30px; font-family: 'Abril Fatface'; padding-top: 20px; " type="button" class="btn btn-block" href="{% url 'student_signup' %}">I am a Student</a>
</div>    


{% endblock %}



                      