{% extends 'base.html' %} {% block content %}
<style>
    body {
       background-image: url("../static/images/bg6.jpg");
       height: 100%;
     
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   
    }
   </style>
<div >
    <a type="button" class="btn btn-block" href="{% url 'teacher_signup' %}">I am a Teacher</a>
</div>
<div >
    <a type="button" class="btn btn-block" href="{% url 'student_signup' %}">I am a Student</a>
</div>    


{% endblock %}



                      