{% extends 'base.html' %} {% block content %}

<h1>Coruses</h1>
<h2>welcome: {{user.username}}</h2>
<a href="{% url 'logout' %}">Logout</a> <br>

{% if user.is_teacher %}
<a action="" data-toggle="modal" data-target="#staticBackdrop">
    add lesson
</a>
{% endif %}

<div class="gallery">
    {% for lesson in lessons %}
    <a href="{% url 'lesson_detail' lesson.pk %}" style="text-decoration: none;"> 
      <div class="card anchor"
        style="width: 18rem; padding: 20px; margin: 20px; background:#c0c49b;">
        <h5 class="card-title" style="color: black;">{{lesson.course}}</h5>
        
        <div class="card-body">
          <h5 class="card-title" style="color: black;">{{lesson.title}}</h5>
          <p class="card-text ">{{lesson.description}}</p>
        </div>
      </div>
    </a>
    {% endfor %}

    <div class="gallery">
        {% for lab in labs %}
        <a href="" style="text-decoration: none;">
          <div class="card anchor"
            style="width: 18rem; padding: 20px; margin: 20px; background:#c0c49b;">
            <h5 class="card-title" style="color: black;">{{lab.types}}</h5>
            
            <div class="card-body">
              <h5 class="card-title" style="color: black;">{{lab.course}}</h5>
              <h5 class="card-title" style="color: black;">{{lab.title}}</h5>
              <p class="card-text ">{{lab.description}}</p>
              {% if lab.lab_deliverable %}
              <p class="card-text">Deliverable</p>
              {% endif %}
            </div>
          </div>
        </a>
        {% endfor %}

{% endblock %}