{% extends 'base.html' %} {% block content %}

<h1>Coruses</h1>
<h2>welcome: {{user.username}}</h2>
<a href="{% url 'logout' %}">Logout</a> <br>

<div class="row" style="color: transparent;">

    <a href="#" style="text-decoration: none;">
      <div class="card anchor "
        style="width: 18rem; padding: 20px; margin: 20px; background:#c0c49b;">
        <img src="{{course.image}}" class="card-img-top" alt="{{course.name}}">
        <div class="card-body">
          <h5 class="card-title" style="color: black;">{{course.name}}</h5>
          <p class="card-text ">{{course.description}}</p>
        </div>
      </div>
    </a>

  

  </div>

{% endblock %}