{% extends 'base.html' %} {% block content %}


<style>
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@500&display=swap');
    body {
       background-image: url("../static/images/bg6.jpg");
       height: 100%;
     
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   }
   p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  
</style>
<div style="display: flex; justify-content: center;">
  <img class="fw-light" src="../static/images/logo3.png" style="width: 180px; padding-top: 0%; "></div>
<h1 style="text-align: center; font-family: 'Abril Fatface', cursive; padding-top: 0%; font-size: 80px;">Coruses</h1>


<div class="row" style="color: transparent;">

    {% for course in courses %}
    <a href="{% url 'course_detail' course.pk %}" style="text-decoration: none;">
      <div class="card anchor "
        style="width: 20rem; padding: 20px; margin: 20px; background:#525251b5;">
        <img src="{{course.image}}" class="card-img-top" alt="{{course.name}}">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(228, 228, 228);">{{course.name}}</h5>
          <p class="card-text " style="color: rgb(228, 228, 228);">{{course.description}}</p>
        </div>
      </div>
    </a>

    {% endfor %}

  </div>

{% endblock %}