{% extends 'base.html' %} {% block content %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@500&display=swap');

  body {

    background-color: rgba(255, 232, 174, 0.892);
  }
</style>
<body>
  
  <h1 style="text-align: center;   padding-top: 0%; font-size: 30px;">Update {{lesson.title}}</h1>

  <form
    action="{% url 'lesson_edit' lesson.pk %}"
    method="post"
    style="padding: 15px"
  >
    {% csrf_token %}
    <table  style="display: flex; justify-content: center">
      {{ form }}
    </table>
    <div
      class="submitButton"
      style="display: flex; justify-content: center; padding: 15px"
    >
      <input type="submit" value="Submit" />
    </div>
  </form>
</body>

{% endblock %}